.maxHighLight{
  background-color: #ffba02;
  color : #ffffff;
  font-size: 42px;
  margin-top :20px;
}
.mixHighLight{
  background-color: #ffba02;
  color : #ffffff;
  font-size: 12px;
  margin-top :5px;
}
